[Unit]
Description=Robot Tank Pi Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ron
WorkingDirectory=/home/ron/repos/robot_tank_rpi
ExecStart=/home/ron/repos/robot_tank_rpi/scripts/start_controller.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target